@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f1f1;
}

.light {
  background-color: #f7f1f1;
  color: #000;
  --placeholder-color: #eee8e8;
  --background: 255, 255, 255;
  --blog-outline: 226, 232, 240;
  --project-outline: 255, 255, 255, 0.53;
  --link-border: 209, 213, 219;
  --nav-background: 237, 233, 232;
  --nav-border: 255, 255, 255, 0;
  --active-tab: 255, 255, 255;
  --close-btn-bg: 237, 233, 233;
  --close-btn-edge: 232, 236, 241;
  --slider-tile: 204, 205, 205, 0.32;
}

.dark {
  background-color: #090c10;
  color: #f0f2f8;
  --placeholder-color: #1c2025;
  --background: 13, 17, 23, 255;
  --blog-outline: 48, 54, 61;
  --project-outline: 48, 54, 61;
  --link-border: 53, 63, 71;
  --nav-background: 9, 12, 16, 255;
  --nav-border: 48, 54, 61;
  --active-tab: 33, 38, 45, 255;
  --close-btn-bg: 9, 12, 16, 255;
  --close-btn-edge: 48, 54, 61;
  --slider-tile: 38, 38, 38, 255;
}

/* Home Components  */

.bg-shadow {
  border-radius: 30px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.35s ease-in-out !important;

}

.bg-shadow:hover {
  box-shadow: 0 6px 12px rgba(160, 160, 160, 0.15);

}

/* GridDisplay */

.react-grid-item {
  transition-duration: 750ms !important;
}

.react-grid-placeholder {
  background-color: var(--placeholder-color) !important;
  border-radius: 30px;
  opacity: 1 !important;
  transition: transform 0.55s ease, opacity 0.4s ease !important;
  /* background-color: #eee8e8 !important; */
  /* z-index: 5; */
}


/* Misc */

@keyframes playing {
  0% {
    height: 3px
  }

  50% {
    height: 12px
  }

  to {
    height: 3px
  }
}


/* NavBar */

.rainbow {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23cd9cf2' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23c2e9fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%2366a6ff' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}


/* LocationMe */

.leaflet-control-attribution {
  display: none !important;
}

.icon-style {
  background-color: rgba(127, 142, 169, 0.296);
  border: 4px solid rgb(255, 255, 255);
  background-image: url("../assets/images/faces/face2.png");
  border-radius: 50%;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}


/* Fonts */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}